{% extends "base.html" %} {% block content %} {% load static %} <head>
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Layout Horizontal - Mazer Admin Dashboard</title>
      

  <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/pages/fontawesome.css'%}">
  <link rel="stylesheet" href="{% static 'assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/pages/datatables.css'%}">
  <link rel="stylesheet" href="{% static 'assets/extensions/filepond/filepond.css'%}">
  </head>
  
  <body>
          <div id="main" class="layout-horizontal">
              <header class="mb-5">

                  <nav class="main-navbar">
                      <div class="container">
                          <ul>
                              
                              
                              
                              <li
                                  class="menu-item  ">
                                  <a href="index.html" class='menu-link'>
                                      <i class="bi bi-house-fill"></i>
                                      <span>Home</span>
                                  </a>
                              </li>
                              
                              
                              
                              <li
                                  class="menu-item  ">
                                  <a href="/license-key" class='menu-link'>
                                      <i class="bi bi-key-fill"></i>
                                      <span>License Keys</span>
                                  </a>
                              </li>
                              
                              
                              
                              <li
                                  class="menu-item  ">
                                  <a href="index.html" class='menu-link'>
                                      <i class="bi bi-box-fill"></i>
                                      <span>Orders</span>
                                  </a>
                              </li>
                              
                              
                              
                              <li
                                  class="menu-item  ">
                                  <a href="index.html" class='menu-link'>
                                      <i class="bi bi-envelope-paper-fill"></i>
                                      <span>Email Template</span>
                                  </a>
                              </li>
                              
                              
                              
                              <li
                                  class="menu-item  ">
                                  <a href="index.html" class='menu-link'>
                                      <i class="bi bi-patch-check-fill"></i>
                                      <span>Upgrade</span>
                                  </a>
                              </li>

                              <li
                                  class="menu-item  ">
                                  <a href="index.html" class='menu-link'>
                                      <i class="bi bi-sliders"></i>
                                      <span>Settings</span>
                                  </a>
                              </li>

                              
                              <li
                              class="menu-item  ">
                              <a href="index.html" class='menu-link'>
                                  <i class="bi bi-chat-square-dots"></i>
                                  <span>FAQ And Help</span>
                              </a>
                          </li>
                              
                              

                              
                              
                              

                              
                              
                              

                              
                              
                          </ul>
                      </div>
                  </nav>
  
              </header>
  
<div class="content-wrapper container">
  <div class="page-content">
      <section class="row">
          <div class="col-12 ">
              <div class="row">
                  <div class="col-6 col-lg-3 col-md-6">
                      <div class="card">
                          <div class="card-body px-4 py-4-5">
                              <div class="row">
                                  <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                      <div class="stats-icon purple mb-2">
                                          <i class="iconly-bi bi-box-fill"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                      <h6 class="text-muted font-semibold">Orders</h6>
                                      <h6 class="font-extrabold mb-0">0/30</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 col-lg-3 col-md-6">
                      <div class="card">
                          <div class="card-body px-4 py-4-5">
                              <div class="row">
                                  <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                      <div class="stats-icon blue mb-2">
                                          <i class="iconly-bi bi-cloud-download-fill"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                      <h6 class="text-muted font-semibold">Digital Products</h6>
                                      <h6 class="font-extrabold mb-0">0/3</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 col-lg-3 col-md-6">
                      <div class="card">
                          <div class="card-body px-4 py-4-5">
                              <div class="row">
                                  <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                      <div class="stats-icon green mb-2">
                                          <i class="iconly-bi bi-capslock-fill"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                      <h6 class="text-muted font-semibold">Storage</h6>
                                      <h6 class="font-extrabold mb-0">0/100 MB</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 col-lg-3 col-md-6">
                      <div class="card">
                          <div class="card-body px-4 py-4-5">
                              <div class="row">
                                  <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                      <div class="stats-icon red mb-2">
                                          <i class="iconly-bi bi-arrow-repeat"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                      <h6 class="text-muted font-semibold">bandwidth</h6>
                                      <h6 class="font-extrabold mb-0">0/3 GB</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

            <form id="submitproducts">

              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-header">
                              <h4>Select product</h4>
                          </div>
                          <div class="card-body">
                              <div id="chart-profile-visit"></div>

                              <div class="row">
                                <div class="col-md-5 col-4">
                                  <label class="form-label"><i></i>Select Shopify Product :</label>
                                  <input type="text" class="form-control Psearch"  id="Psearch" placeholder="Search Product">
                                  
                                  <ul class="list-group" id="PR_Multi">

                                  </ul>                      
                                </div>
                                <div class="col-2">                      
                                </div>
                                <div class="col-5">
                                  <ul class="list-group selected-product">

                                  </ul>
                                </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-10">
                              <div class="form-group">
                                <label for="variant">Select variant</label>
                                <select class="variants choices form-select" name="variant" id="variants" multiple="multiple"></select>
                              </div>
                            </div>
                            <div class="col-2"> Select all <div class="form-check form-switch">
                                <input class="form-check-input" name="select_all_variants" type="checkbox" id="flexSwitchCheckChecked2">
                                <label class="form-check-label" for="flexSwitchCheckChecked2"></label>
                              </div>
                            </div>
                          </div>






                      </div>

                  </div>
              </div>
              

             
              
              <div class="row " >
                <div class="selectcontainer col-md-12 col-12">
                  <div class="card"  style="min-height:370px !important;">
                    <div class="card-header">
                    <h5 class="card-title d-inline-block">Select file</h5>
                        <div class="form-check form-switch" style="float:right;" >
                            <input class="form-check-input" name="Keyswitcher" type="checkbox" id="Keyswitcher">
                            <label class="form-check-label" for="Keyswitcher">Sell License Keys ?</label>
                        </div>
                    </div>
                    
                    

                    <div class="card-content">
                      <div class="card-body">
                        <p class="card-text">Select files here. or <a style="text-decoration: underline; color: blue;" class="upfile">Upload New Files</a>
                        </p>
                        <select class="files choices form-select" name="files"  multiple="multiple"></select>

                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="col-md-6 col-12 uploadcontainer d-none">
                  <div class="card" style="min-height:370px !important;">
                    <div class="card-header">
                        <h5 class="card-title d-inline-block">Upload file</h5>
                        <div class="form-check form-switch" style="float:right;" >
                            <input class="form-check-input" name="file-type" type="checkbox" id="file-type">
                            <label class="form-check-label" for="file-type">from URL ?</label>
                        </div>

                      
                        
                    </div>
                    <div class="card-content">
                      <div class="card-body">
                        

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              
              <div class="row key-container d-none">
                <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title d-inline-block">License Keys</h5>
                        
                      </div>
                      
  
                      <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 d-block">
                                    <div class="row">
                                        <div class="col-9 form-group">
                                        <label for="licensekeys">Select: </label>
                                        <select class="licensekeys choices form-select" name="licensekeys" id="licensekeys">
                                            
                                            <option value="Usemyownlicense" >Use my own license Keys</option>
                                            <option value="Generatenewlicense" >Generate random license Keys </option>
                                        </select>
                                        </div>
                                        <div class="col-3 d-inline-flex">
                                            <div class="form-group">
                                              <label for="usage-limit" >Usage limit</label>
                                              <input type="number" min="0" class="form-control" name="usage-limit" placeholder="Usage limit" value="1" title="0 for unlimited usage">
                                            </div>
                                          </div>

                                    </div>
                                    <div class="row keys-container"  id="keysgenerator">

                                    </div>
                                </div>
                                <div class="col-6 d-block">
                                    <img src="https://i.imgur.com/ZVQkGXp.jpg" alt="Card image cap" style="height: 25rem">
                                </div>
                            </div>
                            
                            
                            
                            
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
              </div>




              <div class="row">
                <div class="col-12">        

                    <button type="submit" class="btn btn-success btn-lg btn-block" id="saveproduct">Save Digital Product</button>
             
                 </div>
              </div>



              <br >
              <br >

            </form>

            <br >
            <br >


              <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Manage your digital products</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-profile-visit"></div>

                        <div class="row">
                          <div class="col-12">



                            <table class="table" id="Productdatatable">

                            </table>

                          </div>
                        </div>






                    </div>

                </div>


















            </div>
            


                                <div class="modal fade text-left modaldigitalproduct" id="large" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel17" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                        role="document">
                                        <div class="modal-content">
                                            
                                            <form id="modaleditdigital" method="POST">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel17">Large Modal</h4>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">


                                                <div class="row">
                                                    <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="digitalvariant">Selected variant</label>
                                                                <select class="digitalvariant choices form-select" name="digitalvariant" id="digitalvariant" multiple="multiple"></select>

                                                                <label for="digitalvariant">Selected Files</label>
                                                                <select class="digitalFile choices form-select" name="digitalFile" id="digitalFile" multiple="multiple"></select>


                                                                <label for="exampleFormControlTextarea1" class="form-label">All License Keys</label>
                                                                <textarea class="form-control showkeys" id="exampleFormControlTextarea1" name="licenseKeysappend" rows="11" style="height: 114px;" readonly></textarea>
                                    




                                                                <div class="row mt-3">
                                                                    <div class="col-md-6">
                                                                    <textarea id="licenseKeysappend" placeholder="Enter license keys to add (one key per line)." rows="11" style="height: 114px;" class="form-control"></textarea>
                                                                    
                                                                    <button id="addSerialKeys" class="btn btn-primary mt-2 rounded-pill btn-success">Add Serial Keys</button>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <textarea id="licenseKeysremove" placeholder="Enter license keys to remove (one key per line)." rows="11" style="height: 114px;" class="form-control"></textarea>
                                                                    <button id="removeSerialKeys" class="btn btn-danger mt-2 rounded-pill">Remove Serial Keys</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light-secondary"
                                                    data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Cancel</span>
                                                </button>
                                                <button type="submit"  class="btn btn-primary ml-1"
                                                    data-bs-dismiss="modal"> 
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Save</span>
                                                </button>
                                            </div>
                                            
                                        </form>
                                        </div>
                                    </div>
                                </div>





        















          </div>

      </section>
  </div>
  
        </div>

    </div>
</div>

      

      <script src="{% static 'assets/js/bootstrap.js'%}"></script>
      <script src="{% static 'assets/js/app.js'%}"></script>
      <script src="{% static 'assets/extensions/filepond/filepond.js'%}"></script>
      <script src="{% static 'assets/js/pages/horizontal-layout.js'%}"></script>
      <script src="{% static 'assets/extensions/jquery/jquery.min.js'%}"></script>
      <script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
      <script src="{% static 'assets/js/pages/datatables.js'%}"></script>
      
  
  
  </body>
  
  </html>

  {% block javascript %} 
<script>


  
    



    


    
// Add the CSRF token to the AJAX request headers
$.ajaxSetup({
    headers: {
        'X-CSRFToken': '{{ csrf_token }}'
    }
});
$(document).ready(function() {
  let choices_items = [];
  let choices_itemsfile = [];
  let dgpdtTable ;
  let digitalchoices_items = [];

  var searchedValues = [];
  var products = [];
  var filepond;



  
  let var_choices = new Choices($('select.variants')[0],{
    delimiter: ",",
    maxItemCount: -1,
    removeItemButton: true,
  }).setChoices(choices_items);

//// Initialize the Choices.js dropdown with the empty digitalchoices_items array
//let var_choicesdigital = new Choices($('select.digitalvariant')[0], {
//    delimiter: ",",
//    maxItemCount: -1,
//    removeItemButton: true,
//}).setChoices(digitalchoices_items);
//

  let file_choices = new Choices($('select.files')[0],{
    delimiter: ",",
    maxItemCount: -1,
    removeItemButton: true,
  }).setChoices(choices_itemsfile);


  
  
  $.get("get-product/", {}, function(response) {

    products=response.data.products
    //files=response.data.files
    //console.log(products)
    //console.log(files)
  });

  $('body .Psearch').on('input',function(){
    //console.log($(this).val())
    let searched_term = $(this).val().toLowerCase();
    

    let foundvalues = products.filter(pdt => (searched_term.length <= 0 ? "" : (pdt.title.toLowerCase().indexOf(searched_term) >= 0)) );
    //console.log(searchedValues);
    //console.log(foundvalues)

    loadPDTList(foundvalues);

  })
  
  $('#PR_Multi').on('click','.p-item',function(){
    let p_id = $(this).data('id');
    let p_title = $(this).data('title');

    $(".selected-product").empty();
    $('.p-item').removeClass('list-group-item-primary');

    $(this).addClass('list-group-item-primary');
    
    $(this).clone().appendTo(".selected-product").addClass('list-group-item-success').append(`<input type="hidden" name="selected-product" value="${p_id}" /> <input type="hidden" name="product-title" value="${p_title}" /> `);
    $('#PR_Multi').empty();
    var product;
    $.each(products,function(i, v){
      if(v.id == p_id)
      {
        product = v;
        return false;
      }  
    });

    choices_items = [];
    
    $.each(product.variants,function(i, v){
      var obj = {
        "id": v.id,
        "sku": v.sku,
        "title": v.title
    };

      let value = JSON.stringify(obj);
      value = encodeURI(value);
      choices_items.push({
          value: value, 
          label: `${v.title} - SKU:${v.sku}`, 
          id: i+1, 
          disabled: false,
          selected: false
      });
      
    });
    var_choices.clearStore().clearChoices().setChoices(choices_items,'value','label',false);
    
    load_files();
    
    $('input[name=select_all_variants]').prop("checked",false)
    
    

  });


  function load_files(){
    $.get("get-files/", {}, function(response) {
        files=response.data.files;

        choices_itemsfile = [];
    
        $.each(files,function(i, v){
            
        
        choices_itemsfile.push({
            value: v.id, 
            label: v.name, 
            id: i+1, 
            disabled: false,
            selected: false
        });
        
        });
        file_choices.clearStore().clearChoices().setChoices(choices_itemsfile,'value','label',false);
        
    });

  }
  $('input[name=select_all_variants]').on('change',function(){
            
            
           
    var is_selected = $(this).prop('checked');

    choices_items = choices_items.map(function(item){
        var newItem = item;
        newItem.selected = is_selected;
        return newItem;
    });

    var_choices.clearStore().setChoices(choices_items,'value','label',false);

    
    
        
        
    });
    $("input[name=Keyswitcher]").on('change',function(){
        

        if ($(this).prop("checked"))
            $('.key-container').removeClass('d-none').addClass('d-block');
        else
            $('.key-container').removeClass('d-block').addClass('d-none');

        select_key_type();

        var targetElement = $('select[name=licensekeys]');

        // Calculate the position of the target element relative to the top of the page
        var targetOffset = targetElement.offset().top;
      
        // Animate the scroll to the target element
        $('html, body').animate({
          scrollTop: targetOffset
        }, 100); // Adjust the duration as needed
      
              
    })

    $("input[name=file-type]").on('change',function(){
        let element = $(this).closest(".card").find('.card-content .card-body');
        let fileUploadHtml = `
        <div class="form-group">
            <label for="filename">File Name :</label>
            <input type="text" id="filename" class="form-control" name="filename" placeholder="File Name">
        </div>

        <div class="form-group">
            <p class="card-text">Upload new file here.</p>
            <input type="file" name="" id="fileponduploader" class="basic-filepond">
        </div>
        <button type="button" class="btn btn-primary block" id="UploadFile">Upload File</button>

        `;
        let fileUrlHtml = `
        <div class="form-group">
            <label for="filename">File Name :</label>
            <input type="text" id="filename" class="form-control" name="filename" placeholder="File Name">
        </div>
        <div class="form-group">
            <label for="urlinput">File URL :</label>
            <input type="url" id="urlInput" class="form-control" name="external-URL" placeholder="Enter the URL for your externally hosted file">
        </div>
        <button type="button" class="btn btn-primary block" id="UploadUrl">Save File</button>
        `;
        element.html("");
        if($(this).prop('checked'))
        {
            element.html(fileUrlHtml);
        }else
        {
            element.html(fileUploadHtml);

            filepond = FilePond.create(document.querySelector(".basic-filepond"), {
                credits: null,
                allowImagePreview: true,
                allowMultiple: false,
                allowFileEncode: false,
                required: false,
            })
        }
    });
    $("input[name=file-type]").trigger('change');
    
  //from select to upload
  $("a.upfile").on('click',function(){

    $('.selectcontainer').removeClass('col-md-12').addClass('col-md-6');

    $('.uploadcontainer').removeClass('d-none').addClass('d-block');


  });

  
    // ganarate keys
    $("select[name=licensekeys]").on('change',function(){
        $('.key-container').removeClass('d-none').addClass('d-block');


        select_key_type()
        
      });

      



    function select_key_type(){

        let selected_key_type=$("select[name=licensekeys] option:selected").val();
        if($("input[name=checkkeys]").prop('checked') == false){
            $('#keysgenerator').html("")
        }else{
            if(selected_key_type == 'Generatenewlicense')
            {
                $('#keysgenerator').html(`
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Key count:</label> <span class="badge bg-secondary">up to 100000</span>
                        <input class="form-control form-control-sm generaterandomkeys" type="number"  placeholder="" value="20">
                    </div>
                    
                    <div class="form-group">
                        <label for="generatedkeys" class="form-label"></label>
                        <textarea name="generatedkeys" class="form-control" id="generatedkeys" placeholder="Generated Keys.." rows="10"></textarea>
                    </div>
                </div>
                `);
                $('.generaterandomkeys').blur()


            }else if(selected_key_type == 'Usemyownlicense'){
                $('#keysgenerator').html(`
                <div class="col-12">
                    <div class="form-group">
                        <label for="yourkeys" class="form-label">Add your keys here</label>
                        <textarea name="manualkeys" class="form-control" id="yourkeys" placeholder="Add Your keys here" rows="10"></textarea>
                    </div>
                </div>`)
            }
        }
        

    }
        $(document).on('blur','.generaterandomkeys',function(){
            if ($(this).val() > 100000)
            {
                alert('key count shouln\'t be more than 100k!')
                return;
            }
            let holo=""
            for (let i =0; i < $(this).val(); i++) {
                holo=holo+randomString(20)+"\n";
             }
         
            $("#generatedkeys").text(holo)
        })



        function randomString(length) {
            var result = '';
            var chars='0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
            for (var i = length; i > 0; --i) result += chars[Math.round(Math.random() * (chars.length - 1))];
            return result;
        }

        $('body').on('click','#UploadFile',function(e) {
            e.preventDefault();
            let elm = $(this);
            let oldtext =elm.text();
            elm.prop('disabled',true);
            elm.text("Processing...");

            let formData = new FormData();
            formData.append('filename', $('#filename').val());
            if(filepond !== undefined)
            {
                let file = filepond.getFile();
                if (file)
                    formData.append('file', file.file);
            }
        
            // Send the AJAX request to Django
            $.ajax({
              url:"{% url 'save_file' %}",
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                console.log(response);
                elm.prop('disabled',false)
                elm.text(oldtext)
                load_files()
                Swal.fire(
                    response.success == 1 ? 'Good job!' : 'ERROR ',
                    response.message,
                    response.success == 1 ? 'success' : 'error'
                  ).then(function() {
                    $('#filename').val("")
                    filepond.removeFiles()

                    //$('.uploadcontainer').removeClass('d-block').addClass('d-none');

                   // $('.selectcontainer').removeClass('col-md-6').addClass('col-md-12');
                    
                
                });
              },
              error: function(xhr, status, error) {
                console.error(xhr.responseText);
                elm.prop('disabled',false)
                elm.text(oldtext)
              }
            });
            
          });
        
          $('body').on('click','#UploadUrl',function(e) {
            e.preventDefault();

            let formData = new FormData();
            formData.append('url', $('#urlInput').val());
            formData.append('filename', $('#filename').val());

        
            // Send the AJAX request to Django
            $.ajax({
              url:"{% url 'save_file' %}",
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                // Handle the success response
                console.log(response);
                load_files()
                Swal.fire(
                    response.success == 1 ? 'Good job!' : 'ERROR ',
                    response.message,
                    response.success == 1 ? 'success' : 'error'
                  ).then(function() {
                    $('#filename').val("")
                    $('#urlInput').val("")

                    //$('.uploadcontainer').removeClass('d-block').addClass('d-none');

                   // $('.selectcontainer').removeClass('col-md-6').addClass('col-md-12');
                    
                
                });

              },
              error: function(xhr, status, error) {
                // Handle the error response
                console.log(xhr.responseText);
              }
            });
            
          });
        

        



  function loadPDTList(searchedValues = []){
    $('#PR_Multi').html("")
    $.each(searchedValues, function(i, v) {
        //console.log(v.images[0].src)
        $('#PR_Multi').append(`
        <li class="list-group-item p-item" data-id='${v.id}' data-title='${v.title}'>
        <div class="row">
            <div class="col-2">
             <img class="w-100 P-img" src='${v.image.src}' ' />
            </div>
         <div class="col">
           <h5>${v.title}</h5>
           <p>Variants: ${v.variants.length ?? 0}</p>
         </div>
        </div>
        </li>`);
        
      })
      
    }




    $('form#submitproducts').submit(function(event) {

        event.preventDefault()
        var formdata = new FormData(this)
        formdata.append('product-image',$('.P-img').attr('src'));
        for (const value of formdata.values()) {
            console.log(value);
          }
          
        //let sel_variants = [];
        //$('#default .modal-body select.variants option:selected').each(function(i){
        //    sel_variants.push(JSON.parse(decodeURI($( this ).val())));
        //    //console.log(v.data("sku") !== undefined ? v.data("sku") : ' ');
        //});
        //sel_variants = JSON.stringify(sel_variants);
        //
        //formdata.append('variants',sel_variants)
        


        dgpdtTable.clear().destroy();
       $.ajax({
           type: 'POST',
           url: '{% url "product_submit" %}',
           processData: false,  
           contentType: false,          
           data: formdata,
           success: function(data) {
               console.log(data)
               fetchdigitalproducts()
           },
           error: function() {
               alert('Form submission failed.');
               
               fetchdigitalproducts()
           }
       });
        
        return false;
    });







    // get digital Products
        
    function fetchdigitalproducts() {
        $.ajax({
            url: '/get_digital_product/', // Replace with the actual URL
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log(data)
                data=data.data.DigitalProduct
                // Initialize the DataTable
                dgpdtTable = $('#Productdatatable').DataTable({
                    destroy: true,
                    data: data,
                    order:[[0, "desc"]] ,
                    columns: [
                        { data: 'id'},
                        { data: 'title' },
                        { data: 'variants' },
                        { data: 'id'}
                        
                    ],
                    columnDefs: [
                        {
                            target:0,
                            visible:false
                        },
                        {
                            targets:1 ,
                            render: function(data,type,row){
                                
                                return  ` 
                                        <div class="row" >
                                            <div class="col-2">
                                             <img style="max-height: 70px; max-width: 70px;" class="img-thumbnail mx-auto  Prod-img" src='${row.imagelink ?? ''}' />
                                            </div>
                                            <div class="col">
                                                <h5>${row.title}</h5>
                                              </div>
                                        </div>
                                `
                            }
                        },
                        {
                            targets:2 ,
                            render: function(data,type,row){
                                
                                return `
                                <select class="form-select">
                                    ${row.variants.map(function(item){
                                        return '<option>'+item+'</option>'
                                      })}
                                </select>
                                `
                            }
                        },
                        {
                            targets:-1 ,
                            render: function(data,type,row){
                                return `<a data-id="${row.id}" class="btn icon btn-primary btnedit"><i class="bi bi-pencil"></i></a> - 
                                <a  data-id="${row.id}" class="btn icon btn-secondary btnurl"><i class="bi bi-link"></i></a> -
                                <a href="#"  data-id="${row.id}" class="btn icon btn-danger btnremove"><i class="bi bi-trash3"></i></a> -
                                <a href="#" data-id="${row.id}" class="btn icon btn-info btnpreview"><i class="bi bi-eye-fill"></i></a> 

                                `;
                            }
                        },
                    ]
                });



            
            

            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }

    // Call the fetchSerialKeys function to populate the DataTable on page load
    fetchdigitalproducts();
    
// Define an empty digitalchoices_items array initially

const keystextArea ="";
var digitalid;
let var_choicesdigital;
let file_choicesdigital;
$('#Productdatatable').on('click', '.btnedit', function() {
    $("#modaleditdigital").unbind('submit');
    var digitalid = $(this).closest('.btnedit').data("id");
    console.log(digitalid);
    var_choicesdigital = new Choices($('select.digitalvariant')[0], {
        delimiter: ",",
        maxItemCount: -1,
        removeItemButton: true,
    });
    file_choicesdigital = new Choices($('select.digitalFile')[0], {
        delimiter: ",",
        maxItemCount: -1,
        removeItemButton: true,
    });

        // Find the textarea element by its class name
    const keystextArea = document.querySelector('.showkeys');
    //keystextArea.disabled = true;
        
    // Fetch the variants for the selected digital product using an AJAX request
    $.ajax({
        url: '/get_variants_for_digital_product/', // Replace with the actual URL to fetch variants
        type: 'GET',
        data: { digital_id: digitalid }, // Pass the digital product ID
        dataType: 'json',
        success: function(data) {
            let variants = data.variants;
            let files= data.files;
            let licensekeys = data.serial_keys.map(item => item.value); // Extract license keys
            // Modify the variants array to set all items as selected
            variants.forEach(function(variant) {
            variant.selected = true;
            files.forEach(function(file){
             file.selected=true;
            })
        });

            // Initialize the Choices.js dropdown with the variants
            var_choicesdigital.setChoices(variants, 'value', 'label', true);
            file_choicesdigital.setChoices(files, 'value', 'label', true);
            keystextArea.value = licensekeys.join('\n');
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });



    $('.modaldigitalproduct').modal('show');



    $('#addSerialKeys').on('click', function () {
        var keysToAdd = $('#licenseKeysappend').val(); // Get keys from the "Add" textarea
        var currentKeys = $('#exampleFormControlTextarea1').val(); // Get current keys from the "All License Keys" textarea

        // Concatenate the keys to add with the current keys (separated by newline)
        var newKeys = currentKeys + '\n' + keysToAdd;

        // Update the "All License Keys" textarea with the new keys
        $('#exampleFormControlTextarea1').val(newKeys.trim());

        // Clear the "Add" textarea
        $('#licenseKeysappend').val('');

        return false
    });

    // Button to remove serial keys
    $('#removeSerialKeys').on('click', function (e) {
        e.preventDefault();
        var keysToRemove = $('#licenseKeysremove').val(); // Get keys to remove from the "Remove" textarea
        var currentKeys = $('#exampleFormControlTextarea1').val(); // Get current keys from the "All License Keys" textarea

        // Split the current keys into an array
        var currentKeysArray = currentKeys.split('\n');

        // Filter out the keys to remove
        var filteredKeys = currentKeysArray.filter(function (key) {
            return keysToRemove.indexOf(key) === -1;
        });

        // Join the filtered keys back into a string (separated by newline)
        var newKeys = filteredKeys.join('\n');

        // Update the "All License Keys" textarea with the new keys
        $('#exampleFormControlTextarea1').val(newKeys);

        // Clear the "Remove" textarea
        $('#licenseKeysremove').val('');

        return false
    });

$("#modaleditdigital").on("submit", function(e) {

    e.preventDefault(); // Prevent the default form submission

    // Serialize the form data into a format that can be sent via AJAX
    var formEdata = $(this).serialize();
    // Append the digitalid to the formData
    formEdata += '&digitalid=' + digitalid;
    console.log('aaaaa',formEdata)
    $.ajax({
        url: "edit-digital-product/", // Replace with your API endpoint URL
        method: "POST",
        data: formEdata,
        success: function(response) {
            
            // Handle the success response here
            console.log("Data saved successfully!");

            
        },
        error: function(xhr, status, error) {
            // Handle errors here
            console.error("Error: " + error);
        }
    });
});
    
    


});





    
$('.modaldigitalproduct').on('hidden.bs.modal', function() {
    console.log('Modal hidden event fired.')
    var_choicesdigital.clearChoices().destroy();
    file_choicesdigital.clearChoices().destroy();
    keystextArea.value=""
    $('#licenseKeysappend').val('');
    $('#licenseKeysremove').val('');


  });












})
 
</script>

  {% endblock javascript %} 
  
  {% endblock %}